n8n/jago-import-all-transaction.json
{
    "name": "Backfill Jago Transactions (Riwayat Lama)",
    "nodes": [
        {
            "parameters": {},
            "id": "node-manual-trigger",
            "name": "On clicking 'execute'",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "getAll",
                "returnAll": false,
                "limit": 50,
                "simple": false,
                "filters": {
                    "q": "from:noreply@jago.com"
                }
            },
            "id": "node-gmail-get-many",
            "name": "Get many messages",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                220,
                0
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "GMAIL_CREDENTIAL_ID",
                    "name": "Gmail Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "  // LOOP UNTUK MEMPROSES RATUSAN EMAIL SEKALIGUS (V7)\n  const items = $input.all();\n  let results = [];\n\n  for (let i = 0; i < items.length; i++) {\n    const j = items[i].json;\n    const subject = j.subject || '';\n    const snippet = j.snippet || '';\n    \n    const bodyBody = j.body || j.text || j.textPlain || '';\n    const htmlBody = j.html || j.textHtml || '';\n    \n    let payloadText = '';\n    if (j.payload) {\n      const decode = (str) => {\n        if (!str) return '';\n        try {\n          const b64 = str.replace(/-/g, '+').replace(/_/g, '/');\n          return Buffer.from(b64, 'base64').toString('utf-8');\n        } catch(e) { return ''; }\n      };\n      const walk = (p) => {\n        let res = [];\n        if (p.body && p.body.data) res.push(decode(p.body.data));\n        if (p.parts) p.parts.forEach(part => res.push(walk(part)));\n        return res.join(' ');\n      };\n      payloadText = walk(j.payload);\n    }\n\n    const combined = [subject, snippet, bodyBody, htmlBody, payloadText].join(' ');\n    const cleanText = combined.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n\n    const priceRegex = /(?:Jumlah|Total|Rp|IDR)\\s*[:\\-\\.]?\\s*(?:Rp\\.?|IDR)?\\s*([\\d.,]{3,})/gi;\n    let nominal = 0;\n    let m;\n    while ((m = priceRegex.exec(cleanText)) !== null) {\n      let n = m[1].replace(/\\./g, '').replace(',', '.');\n      if (m[1].includes(',') && m[1].includes('.')) n = m[1].replace(/\\./g, '').replace(',', '.');\n      else if (m[1].includes(',')) n = m[1].replace(/,/g, '.');\n      const val = parseFloat(n);\n      if (!isNaN(val) && val > 0) { nominal = val; break; }\n    }\n\n    const dateM = cleanText.match(/(\\d{1,2})\\s+(Jan|Feb|Mar|Apr|Mei|May|Jun|Jul|Agt|Aug|Sep|Okt|Oct|Nov|Des|Dec)[a-z]*\\s+(\\d{4})/i);\n    const monthMap = { jan:'01', feb:'02', mar:'03', apr:'04', mei:'05', may:'05', jun:'06', jul:'07', agt:'08', aug:'08', sep:'09', okt:'10', oct:'10', nov:'11', des:'12', dec:'12' };\n    \n    let tang = new Date().toISOString();\n    if (dateM) {\n      const d = dateM[1].padStart(2, '0');\n      const m = monthMap[dateM[2].toLowerCase().slice(0, 3)];\n      const y = dateM[3];\n      tang = `${y}-${m}-${d}T00:00:00+07:00`;\n    }\n\n    if (nominal > 0) {\n        // LOGIKA TIPE: Sangat spesifik ke pola email Jago\n        let tipe = 'debit';\n        const isKredit = /Kamu menerima|Saldo kamu bertambah|Dana masuk|Transfer masuk|Top Up berhasil/i.test(subject);\n        const isDebit = /Kamu telah membayar|Kamu telah melakukan|Kamu mengirimkan|Kamu memindahkan/i.test(subject);\n        \n        if (isKredit) tipe = 'kredit';\n        else if (isDebit) tipe = 'debit';\n        else {\n          // Fallback ke body jika subject tidak jelas\n          if (/kredit|penerimaan|terima transfer/i.test(cleanText) && !/membayar|mengirimkan|pembayaran/i.test(cleanText)) {\n            tipe = 'kredit';\n          }\n        }\n\n      results.push({\n        json: {\n          tanggal_waktu: tang,\n          tipe,\n          nominal,\n          merchant_deskripsi: (cleanText.match(/Ke\\s*[:\\.]?\\s*([A-Z ]{3,30})/i) || [0,'Unknown'])[1].trim(),\n          kategori_otomatis: 'Lain-lain',\n          email_subject: subject,\n          raw_email_body: cleanText.slice(0, 500)\n        }\n      });\n    }\n  }\n  return results;"
            },
            "id": "node-extract-massal",
            "name": "Extract Data Massal",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list"
                },
                "table": {
                    "__rl": true,
                    "value": "jago_transactions",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "tanggal_waktu": "={{ $json.tanggal_waktu }}",
                        "tipe": "={{ $json.tipe }}",
                        "nominal": "={{ $json.nominal }}",
                        "merchant_deskripsi": "={{ $json.merchant_deskripsi }}",
                        "kategori_otomatis": "={{ $json.kategori_otomatis }}",
                        "email_subject": "={{ $json.email_subject }}",
                        "raw_email_body": "={{ $json.raw_email_body }}"
                    }
                },
                "options": {
                    "outputDataEnrichmentMode": "append",
                    "skipOnConflict": true
                }
            },
            "id": "node-postgres-insert",
            "name": "Insert to jago_transactions",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                660,
                0
            ],
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "RDS PostgreSQL"
                }
            }
        }
    ],
    "connections": {
        "On clicking 'execute'": {
            "main": [
                [
                    {
                        "node": "Get many messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many messages": {
            "main": [
                [
                    {
                        "node": "Extract Data Massal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data Massal": {
            "main": [
                [
                    {
                        "node": "Insert to jago_transactions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}