n8n/jago_expense_tracker_workflow.json
{
  "name": "Bank Jago Expense Tracker",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": true,
        "filters": {
          "sender": "noreply@jago.com",
          "subject": "Transaksi"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "node-gmail-trigger",
      "name": "Gmail Trigger - Bank Jago",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      },
      "notes": "Polls Gmail every minute for emails from Bank Jago. Update 'sender' and 'subject' filter to match actual Jago email format."
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// Node: Extract Transaction Data from Jago Email (V5 - Brute Force)\n// ================================================================\n\nconst item = $input.first();\nconst subject = item.json.subject || '';\nconst snippet = item.json.snippet || '';\n\n// --- 1. Robust recursive decoding ---\nconst decodeB64 = (str) => {\n  if (!str) return '';\n  try {\n    const base64 = str.replace(/-/g, '+').replace(/_/g, '/');\n    return Buffer.from(base64, 'base64').toString('utf-8');\n  } catch (e) { return ''; }\n};\n\nconst getGmailText = (payload) => {\n  let results = [];\n  if (payload.body && payload.body.data) results.push(decodeB64(payload.body.data));\n  if (payload.parts) payload.parts.forEach(p => results.push(getGmailText(p)));\n  return results.join(' ');\n};\n\nconst payloadText = getGmailText(item.json.payload || item.json);\nconst htmlText    = item.json.textHtml || item.json.html || '';\nconst plainText   = item.json.textPlain || item.json.text || '';\n\n// Combine everything for maximum visibility\nlet combined = [subject, snippet, htmlText, plainText, payloadText].join(' ');\n\n// Normalize text (remove HTML, entities, and extra spaces)\nlet cleanText = combined\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/[&][a-z0-9#]+;/gi, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// --- 2. Brute Force Nominal Search ---\nconst priceRegex = /(?:Jumlah|Total|Rp|IDR)\\s*[:\\-\\.]?\\s*(?:Rp\\.?|IDR)?\\s*([\\d.,]{3,})/gi;\nlet nominal = 0;\nlet matches;\nlet foundPrices = [];\n\nwhile ((matches = priceRegex.exec(cleanText)) !== null) {\n  let numStr = matches[1];\n  if (numStr.includes(',') && numStr.includes('.')) {\n    numStr = numStr.replace(/\\./g, '').replace(',', '.');\n  } else if (numStr.includes(',')) {\n    numStr = numStr.replace(/,/g, '.');\n  } else {\n    numStr = numStr.replace(/\\./g, '');\n  }\n  const val = parseFloat(numStr);\n  if (!isNaN(val) && val > 0) foundPrices.push(val);\n}\n\n// Use the first valid price found (usually the transaction amount in Jago emails)\nif (foundPrices.length > 0) nominal = foundPrices[0];\n\n// --- 3. Date extraction ---\nconst dateMatch = cleanText.match(/(\\d{1,2})\\s+(Jan|Feb|Mar|Apr|Mei|May|Jun|Jul|Agt|Aug|Sep|Okt|Oct|Nov|Des|Dec)[a-z]*\\s+(\\d{4})/i);\nconst timeMatch = cleanText.match(/(\\d{2}:\\d{2})(?:\\s*WIB)?/i);\n\nconst monthMap = {\n  jan: '01', feb: '02', mar: '03', apr: '04', mei: '05', may: '05', \n  jun: '06', jul: '07', agt: '08', agu: '08', aug: '08', \n  sep: '09', okt: '10', oct: '10', nov: '11', des: '12', dec: '12'\n};\n\nlet tanggalWaktu = new Date().toISOString();\nif (dateMatch) {\n  const day = dateMatch[1].padStart(2, '0');\n  const mon = monthMap[dateMatch[2].toLowerCase().slice(0, 3)];\n  const yr  = dateMatch[3];\n  const hr  = timeMatch ? timeMatch[1] : '00:00';\n  tanggalWaktu = `${yr}-${mon}-${day}T${hr}:00+07:00`;\n}\n\n// --- 4. Merchant extraction (Look for 'Ke' followed by name) ---\nconst merchantMatch = cleanText.match(/Ke\\s*[:\\.]?\\s*([A-Z ]{3,30})/);\nlet merchant = merchantMatch ? merchantMatch[1].trim() : 'Unknown';\n\n// --- Validation ---\nif (nominal === 0) {\n  throw new Error(`Harga tetap tidak ditemukan. Karakter terbaca: ${cleanText.length}. Awal teks: ${cleanText.slice(0, 100)}...`);\n}\n\n// LOGIKA TIPE: Sangat spesifik ke pola email Jago\nlet tipe = 'debit';\nconst isKredit = /Kamu menerima|Saldo kamu bertambah|Dana masuk|Transfer masuk|Top Up berhasil/i.test(subject);\nconst isDebit = /Kamu telah membayar|Kamu telah melakukan|Kamu mengirimkan|Kamu memindahkan/i.test(subject);\n\nif (isKredit) tipe = 'kredit';\nelse if (isDebit) tipe = 'debit';\nelse {\n  // Fallback ke body jika subject tidak jelas\n  if (/kredit|penerimaan|terima transfer/i.test(cleanText) && !/membayar|mengirimkan|pembayaran/i.test(cleanText)) {\n    tipe = 'kredit';\n  }\n}\n\nreturn [{\n  json: {\n    tanggal_waktu: tanggalWaktu,\n    tipe,\n    nominal,\n    merchant_deskripsi: merchant,\n    kategori_otomatis: 'Lain-lain',\n    email_subject: subject,\n    debug_full_text: cleanText.slice(0, 1000)\n  }\n}];"
      },
      "id": "node-extract",
      "name": "Extract Transaction Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "notes": "Regex-based extraction. Adjust patterns if Bank Jago changes email template."
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "jago_transactions",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tanggal_waktu": "={{ $json.tanggal_waktu }}",
            "tipe": "={{ $json.tipe }}",
            "nominal": "={{ $json.nominal }}",
            "merchant_deskripsi": "={{ $json.merchant_deskripsi }}",
            "kategori_otomatis": "={{ $json.kategori_otomatis }}",
            "email_subject": "={{ $json.email_subject }}",
            "raw_email_body": "={{ $json.raw_email_body }}"
          }
        },
        "options": {
          "outputDataEnrichmentMode": "append",
          "skipOnConflict": false
        }
      },
      "id": "node-postgres-insert",
      "name": "Insert to jago_transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        720,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "RDS PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  mb.total_pengeluaran,\n  mb.total_pemasukan,\n  mb.target_saving,\n  mb.sisa_budget,\n  mb.pct_saving_risk,\n  CASE\n    WHEN mb.pct_saving_risk >= 100 THEN 'DANGER'\n    WHEN mb.pct_saving_risk >= 80  THEN 'WARNING'\n    ELSE 'SAFE'\n  END AS status_budget\nFROM monthly_budget mb\nWHERE mb.bulan = DATE_TRUNC('month', NOW())::DATE\nLIMIT 1;",
        "options": {}
      },
      "id": "node-check-budget",
      "name": "Get Monthly Budget Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        960,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "RDS PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-warning",
              "leftValue": "={{ $json.status_budget }}",
              "rightValue": "SAFE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "node-if-budget",
      "name": "IF Budget Warning/Danger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "1612703207",
        "text": "={{ (() => { const tx = $node['Extract Transaction Data'].json; const rp = (n) => 'Rp ' + Number(n).toLocaleString('id-ID'); const isDanger = $json.status_budget === 'DANGER'; return (isDanger ? '🚨 *Peringatan Keras!*' : '⚠️ *Perhatian!*') + '\\n\\n' + 'Setelah transaksi di *' + tx.merchant_deskripsi + '* sebesar *' + rp(tx.nominal) + '*, ' + (isDanger ? 'pengeluaran kamu bulan ini sudah *melampaui batas aman!* 😟\\n\\nSegera kurangi pengeluaran untuk bisa mencapai target saving kamu.' : 'pengeluaran kamu sudah mendekati batas aman. Mulai hati-hati ya! 🙏') + '\\n\\n' + '💸 Total pengeluaran: *' + rp($json.total_pengeluaran) + '*\\n' + '🎯 Target saving: *' + rp($json.target_saving) + '*\\n' + '🏦 Saldo sekarang: *' + rp(tx.saldo_akhir) + '*\\n' + '📊 Risiko: *' + $json.pct_saving_risk + '%*'; })() }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "id": "node-telegram-alert",
      "name": "Telegram Budget Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1612703207",
        "text": "={{ (() => { const tx = $node['Extract Transaction Data'].json; const rp = (n) => 'Rp ' + Number(n).toLocaleString('id-ID'); if (tx.tipe === 'kredit') { return '🎉 *Ada uang masuk ke rekeningmu!*\\n\\nKamu baru menerima *' + rp(tx.nominal) + '* dari *' + tx.merchant_deskripsi + '*\\n🏦 Saldo sekarang: *' + rp(tx.saldo_akhir) + '*\\n\\n💪 Semangat terus nabungnya ya!'; } else if (tx.tipe === 'transfer_pocket') { return '🔄 *Transfer antar pocket tercatat*\\n\\nSebesar *' + rp(tx.nominal) + '* telah dipindahkan.\\n📝 ' + tx.merchant_deskripsi + '\\n🏦 Saldo sekarang: *' + rp(tx.saldo_akhir) + '*'; } else { return '💸 *Hei, ada pengeluaran baru nih!*\\n\\nKamu baru saja belanja di *' + tx.merchant_deskripsi + '* sebesar *' + rp(tx.nominal) + '*\\n🏷️ Kategori: ' + tx.kategori_otomatis + '\\n🏦 Saldo sekarang: *' + rp(tx.saldo_akhir) + '*\\n\\n📊 Total pengeluaran bulan ini: *' + rp($json.total_pengeluaran) + '*\\nSisa budget: *' + rp($json.sisa_budget) + '* (risiko ' + $json.pct_saving_risk + '%)'; } })() }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": true
        }
      },
      "id": "node-telegram-confirm",
      "name": "Telegram Transaction Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - Bank Jago": {
      "main": [
        [
          {
            "node": "Extract Transaction Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transaction Data": {
      "main": [
        [
          {
            "node": "Insert to jago_transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to jago_transactions": {
      "main": [
        [
          {
            "node": "Get Monthly Budget Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Monthly Budget Status": {
      "main": [
        [
          {
            "node": "IF Budget Warning/Danger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Budget Warning/Danger": {
      "main": [
        [
          {
            "node": "Telegram Budget Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Transaction Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    {
      "name": "expense-tracker",
      "createdAt": "2025-01-01"
    }
  ]
}